<h1>Products</h1>
<% @products.each do |product| %>
  <h3 id="product-<%= product.id %>-name"><%= product.name %></h3>
  <p id="product-<%= product.id %>-description"><%= truncate(product.description) %></p>
  <p id="product-<%= product.id %>-inventory"></p>
  <button onclick="showProduct(<%= product.id %>); return false">More Info</button>
<% end %>



